// Navigation code here

.navbar {
    align-items: center;
    flex-wrap: wrap;
    .displayFlex(column,100%);
    // position: fixed;
    // top: 0;
    // margin-top: 0 auto;

    
    nav{
        display: flex;
        justify-content: space-between;
        .box(25%,1% 0);

        @media @phone {
            justify-content: space-around;
            .box(100%,2%);
        }
 
        a {
            justify-content: space-between;
            text-decoration: none;
            font-size: 1.6rem;

        }
        
}}